@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: antiquewhite;
    padding: 40px;
    font-family: Poppins;
}

:root {
    --primary-color: #3A3A3A;
}


/* styles Nav bar In header */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;

}

.nav-ul {
    display: flex;
}

.nav-ul li {
    cursor: pointer;
    list-style: none;
    margin: 20px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

/* start head Content */

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.head-title {
    color: var(--primary-color);
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0px;
}

.head-text {
    width: 500px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}

.head-btn {
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    padding: 12px 24px;
    gap: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #FFF;
}

.head-btn span {
    padding: 10px;
}

/* Start Sponsor styles */

.sponsor {
    margin: 50px;
}

.sponsor-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /* justify-content: space-between; */
    padding: 80px;
    cursor: pointer;
}


/* Main section Start */
.popular {
    text-align: center;
    color: var(--primary-color);
    font-size: 38px;
    padding: 40px;
    font-weight: 600;
    /* border: 1px solid rebeccapurple; */
}

/* Card Section Start */
.card {
    width: 300px;
    height: 476px;
    border-radius: 10px;
    background: #FFF;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25)
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.see-more {
    text-align: right;
    color: #E02C6D;
}

/* start a gear section */

.gear-section {
    display: flex;
    justify-content: space-between;
}

.join-btn {
    background-color: #E02C6D;
}


/* start a footer part */

.footer {
    width: 1440px;
    height: 239px;
    flex-shrink: 0;
    background: #0A0826;
    color: #FFF;
}

@media screen and (max-width:576px) {
    body {
        padding: 0px;
        /* background-color: red; */
    }

    .nav-bar,
    .header-section,
    .head-content {
        flex-direction: column;
    }

    .header-section {
        padding: 0;
        flex-direction: column-reverse;
    }

    .head-content {
        text-align: center;
    }

    .head-title {
        font-size: 35px;
    }

    /* start sponsor logo */
    .sponsor-logo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .card-section {
        position: relative;
        left: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    body {
        background-color: #E02C6D;
    }

    .card-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}